{% extends 'weather/theme.html' %}
{% load static%}
{% block script %}

<script src="http://www.webglearth.com/v2/api.js"></script>
<script>
    var earth;
    function initialize() {
        var options = {atmosphere: true, sky: true,center: [0, 0]};
      earth = new WE.map('earth_div',options);
      earth.setView([46.8011, 8.2266], 2);
      WE.tileLayer('https://api.maptiler.com/maps/hybrid/{z}/{x}/{y}.jpg?key=kMy7AaH4swZ0Sd7BIcFm',{
        minZoom: 0,
        maxZoom: 5,
        attribution: 'NASA'
      }).addTo(earth);
      earth.on('click', function(e) {
          document.getElementById('lat').value = e.latlng.lat;
          document.getElementById('lon').value = e.latlng.lng;
        });


      // Start a simple rotation animation
     
    }
    window.onload = initialize;
  </script>
{% endblock %}

{% block css %}

<style>
 
    #earth_div{ top: 0; right: 0; bottom: 0; left: 0; position: absolute !important;}
  </style>  
{% endblock %}
{% block globe %}
<!--  maps --->
<div class="main-card mb-3 card">
  <div style="height:500px;padding:0px;background-color:black;"class="card-body">
    <div id="earth_div"></div>
  </div>

</div>


<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Co-ordinates</h5>
      <form class="" method="POST" action="#">
        {% csrf_token %}
          <div class="form-row">
              <div class="col-md-6">
                  <div class="position-relative form-group"><label for="exampleEmail11" class="">Latitude</label><input name="latitude" id="lat" placeholder="Latitude" type="text" class="form-control" required></div>
              </div>
              <div class="col-md-6">
                  <div class="position-relative form-group"><label for="examplePassword11" class="">Longitude</label><input name="longitude" id="lon" placeholder="Longitude" type="text" class="form-control" required></div>
              </div>
          </div>
         
          <button class="mt-2 btn btn-primary" type="submit">Submit</button>
      </form>
  </div>
</div>


{% if dictionary %}

<div class="row">
  <div class="col-lg-6 col-xl-6">
      <div class="card mb-3 widget-content bg-night-fade">
          <div class="widget-content-wrapper text-white">
              <div class="widget-content-left">
                  <div class="widget-heading">City name</div>
                  <div class="widget-subheading"></div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-white"><span>{{ dictionary.city_name}}</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-6">
      <div class="card mb-3 widget-content bg-arielle-smile">
          <div class="widget-content-wrapper text-white">
              <div class="widget-content-left">
                  <div class="widget-heading">TimeZone</div>
                  <div class="widget-subheading"></div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-white"><span>{{ dictionary.timezone }}</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-6">
      <div class="card mb-3 widget-content bg-premium-dark">
          <div class="widget-content-wrapper text-white">
              <div class="widget-content-left">
                  <div class="widget-heading">Weather</div>
                  <div class="widget-subheading"></div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-warning"><span>{{ dictionary.weather }}</span></div>
              </div>
          </div>
      </div>
  </div>
  
  

  <div class="col-lg-6 col-xl-6">
      <div class="card mb-3 widget-content">
          <div class="widget-content-wrapper">
              <div class="widget-content-left">
                  <div class="widget-heading">Temprature</div>
                  <div class="widget-subheading"></div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-success"><span>{{ dictionary.temprature }} C</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-6">
      <div class="card mb-3 widget-content">
          <div class="widget-content-wrapper">
              <div class="widget-content-left">
                  <div class="widget-heading">Pressure</div>
                  <div class="widget-subheading"></div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-primary"><span>{{ dictionary.pressure }} bar</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-6">
      <div class="card mb-3 widget-content">
          <div class="widget-content-wrapper">
              <div class="widget-content-left">
                  <div class="widget-heading">Sunset</div>
                  <div class="widget-subheading"></div>
              </div>
              <div class="widget-content-right">
                  <div class="widget-numbers text-warning"><span>{{ dictionary.sunset }}</span></div>
              </div>
          </div>
      </div>
  </div>
  <div class="col-lg-6 col-xl-6">
    <div class="card mb-3 widget-content bg-night-fade">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="widget-heading">Sunrise</div>
                <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
                <div class="widget-numbers text-white"><span>{{ dictionary.sunrise }}</span></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-xl-6">
    <div class="card mb-3 widget-content bg-arielle-smile">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="widget-heading">Wind Speed</div>
                <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
                <div class="widget-numbers text-white"><span>{{ dictionary.wind_speed }} km/hr</span></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-xl-6">
    <div class="card mb-3 widget-content bg-premium-dark">
        <div class="widget-content-wrapper text-white">
            <div class="widget-content-left">
                <div class="widget-heading">Wind Direction</div>
                <div class="widget-subheading"></div>
            </div>
            <div class="widget-content-right">
                <div class="widget-numbers text-warning"><span>{{ dictionary.wind_dir }}</span></div>
            </div>
        </div>
    </div>
</div>
<div class="col-lg-6 col-xl-6">
  <div class="card mb-3 widget-content bg-premium-dark">
      <div class="widget-content-wrapper text-white">
          <div class="widget-content-left">
              <div class="widget-heading">Dew Point</div>
              <div class="widget-subheading"></div>
          </div>
          <div class="widget-content-right">
              <div class="widget-numbers text-warning"><span>{{ dictionary.dew_point }}</span></div>
          </div>
      </div>
  </div>
</div>

</div>



{% else %}
{% if message or message2 %}
<div class="main-card mb-3 card">
  <div class="card-body"><h5 class="card-title">Message</h5>
      <p>{{message}}{{message1}}</p></div>
</div>
{% endif %}
{% endif %}
{% endblock %}